@view-transition {
  navigation: auto;
}



body{
    padding: 20px;
    font-family: "google sans"!important;
    background-color: #131314!important;
    color: #e3e3e3!important;
}

.fixed-img {
  height: 250px;
  object-fit: cover;
}

.card {
  border-radius: 1.5rem!important;
  overflow: hidden;
}